/*{outline:1px solid red}*/

html, body {
	margin:0; 
	padding: 0;
	background-color: rgb(20, 20, 20);
}

h1 {font-size: 4vw;}

h2 {font-size: 3vw;}

p {font-size: 1.5vw;}

hr {
	border: 2px solid whitesmoke;
}

input {
	display: block;
	padding: 12px 20px;
  	margin: auto;
  	margin-bottom: 10px;
  	box-sizing: border-box;
}


.shatier-name {
	position: absolute;
  	font-size: 8vw;
  	left: 50%;
  	top: 8vw;
  	transform: translate(-50%, -50%);
  	z-index: 1;
  	user-select: none;
}




.animate-fading {
	animation:fading 6s infinite
} @keyframes fading {
	0%{opacity:0}
	10%{opacity:1}
	85%{opacity: 1}
	100%{opacity:0}
}

.slides {
	width: 100%;
	z-index: 2;
}




.bar-items {
	display: block;
	height: auto;
	background-color:rgb(20,20,20);
	font-size: 1.2vw;
	user-select: none;
	color:slategray;
	padding: 10px;
} 

.bar-item {
	display: inline;
	padding: 30px;
	position: relative;
	margin-inline: 5vw;
	text-decoration: none;
	transition: ease 300ms;
}


.bar-items:hover > .bar-item {
	opacity: 0.3;
}
.bar-items:hover > .bar-item:hover {
	opacity: 0.8;
	color: white;
	text-decoration: underline;
}




#josh-pic {
	height:30vw; 
	width: auto; 
	object-fit: cover; 
	border-radius: 10px;
	filter: grayscale(100%);
}
#max-pic {
	height: 30vw;
	width: auto;
	border-radius: 10px;
	object-fit: cover;
	filter: grayscale(100%);
}
#wes-pic {
	height: 30vw;
	width: auto;
	border-radius: 10px;
	object-fit: cover;
	filter: grayscale(100%);
}